<% include ./partials/head %>
  <input type="hidden" id="handle" value="<%= user.name %>">
  <input type="hidden" id="userID" value="<%= user._id %>">
  <input type="hidden" id="clientID">

  <div class="container clearfix mt-4 mb-4">
    <div class="row">
      <div class="col-4">
        <div class="people-list" id="people-list">
          <div class="search">
            <input type="text" placeholder="search" id="searchBox"/>
            <i class="fa fa-search"></i>
          </div>
          <ul class="list" id="listContainer">
            <div id="personList">
              <% if(clientList){ %>
                <% clientList.forEach(function(client){ %>
                  <% if(client.userId != user.userId){ %>
                    <li class="clearfix">
                      <a class="link" data-id="<%= client._id %>">
                        <div class="background" style="background-image:url('<%= client.photo %>')"></div>
                        <div class="about">
                          <div class="name"><%= client.name %></div>
                          <div class="status">
                            <% if(client.status == user.status){ %>
                              <i class="fa fa-circle online"></i> Online
                            <% }else{ %>
                              <i class="fa fa-circle offline"></i> Offline
                            <% } %>
                          </div>
                        </div>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              <% } %>
            </div>
            <div id="searchList" style="display:none;">
              <% if(clientList){ %>
                <% clientList.forEach(function(client){ %>
                  <% if(client.userId != user.userId){ %>
                    <li class="clearfix">
                      <a class="link" data-id="<%= client._id %>">
                        <div class="background" style="background-image:url('<%= client.photo %>')"></div>
                        <div class="about">
                          <div class="name"><%= client.name %></div>
                          <div class="status">
                            <% if(client.status == user.status){ %>
                              <i class="fa fa-circle online"></i> Online
                            <% }else{ %>
                              <i class="fa fa-circle offline"></i> Offline
                            <% } %>
                          </div>
                        </div>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              <% } %>
            </div>
          </ul>
        </div>
      </div> <!-- .col-xs-4 -->
      <div class="col-8">
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="background" style="background-image:url(https://pbs.twimg.com/profile_images/938093204578107392/F92Et1kO.jpg);"></div>
            <div class="chat-about">
              <div class="chat-with">Chat with Vincent Porter</div>
              <div class="user-status"><i class="fa fa-circle online"></i>  Online</div>
            </div>
          </div> <!-- end chat-header -->
          
          <div class="chat-history">
            <ul id="output">
              <% if(chatList){ %>
                <% chatList.forEach(function(chat){ %>
                  <% if(
                      (chat.users.userOneID == user.userID && chat.users.userTwoID == "5a9415761897cf08d0403298") || 
                      (chat.users.userOneID == "5a9415761897cf08d0403298" && chat.users.userTwoID == user.userID)
                    ){
                  %>
                    <% chat.chatData.forEach(function(chatArray, i){ %>
                      <li class="clearfix">
                        <% if(chatArray.userID == user._id){ %>
                          <div class="message-data ">
                            <i class="fa fa-circle online"></i> <span class="message-data-name" ><%= user.name %></span> 
                          </div>
                          <div class="message my-message"><%= chatArray.message %></div>
                        <% }else{ %>
                          <div class="message-data  align-right">
                            <span class="message-data-name"> 
                              <% clientList.forEach(function(client){ %>
                                <% if(client._id == chatArray.userID){ %>  <%= client.name %>  <% } %>
                              <% }) %> <%= i %> <i class="fa fa-circle other"></i>
                            </span>
                          </div>
                          <div class="message other-message float-right"><%= chatArray.message %></div>
                        <% } %>
                      </li>
                    <% }) %>
                  <% } %>
                <% }) %>
              <% } %>
            </ul>
            <span id="feedback"></span>
          </div> <!-- end chat-history -->
          
          <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3" ></textarea>
            <!-- <input type="text" id="message-to-send"> -->
            <button id="send">Send</button>
            <a href="#last" id="link" style="display:none;">Go to Bottom</a>
          </div> <!-- end chat-message -->
          
        </div> <!-- end chat -->
      </div> <!-- .col-xs-8 -->
    </div><!-- .row -->
  </div> <!-- end wrapper -->



<% include ./partials/footer %>
<link rel="stylesheet" href="/assets/css/chat.css" >
<script src="../assets/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
let searchInput = document.getElementById("searchBox");
searchInput.addEventListener('keyup', () => {
  if(searchInput.value != ""){
    let searchBox = document.getElementById('searchBox').value.toUpperCase();
    let clients = document.querySelectorAll('#searchList .clearfix');
    let clientName = document.querySelectorAll('#searchList .clearfix .link .about .name');
    for(i=0; i< clientName.length; i++){
      if(clientName[i].innerText.toUpperCase().indexOf(searchBox) > -1){
        clients[i].style.display = "";
      }else{
        clients[i].style.display = "none";
      }
    }
    document.getElementById('personList').style.display = "none";
    
    document.getElementById('searchList').style.display = "";
  }else{
    document.getElementById('personList').style.display = "";

    document.getElementById('searchList').style.display = "none";
  }
});
setInterval(() => {
  $("#personList").load(location.href + " #personList");
}, 9000);

/*
------- Load Data into Chat-History
*/
// let persons = $("#listContainer .link").not(':hidden');
let persons = document.querySelectorAll('#listContainer .link');
persons.forEach((person) => {
  person.addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('clientID').value = person.getAttribute('data-id');
  });
});

</script>